.App {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.8rem;
  color: #ffff00;
}

.blink_me {
  animation: blinker 0.1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.btn-submit {
  height: 50px;
  padding: 0 30px;
  border: none;
  border-radius: 3px;
  background: #ffff00;
  color: #282c34;
  margin-top: 30px;
  font-size: 1.2rem;
  cursor: pointer;
}

.lg {
  height: 100px;
  width: 100px;
  animation: infinite 10s App-logo-spin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
